<h1>My Shopping Cart <span *ngIf="shoppingItem.length >0">({{ shoppingItem.length }})</span></h1>
<div *ngIf="shoppingItem.length >0; else emptyCart">
    <table class="table table-striped">
        <tr>
            <th>Sr. No.</th>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor='let item of shoppingItem;let i = index'>
            <td>{{ i+1 }}</td>
            <td><img [src]="item.img" class="img-responsive" width='30px' /></td>
            <td>{{ item.name | truncate:[25, '...']}}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.price |  currency : 'INR' }}</td>
            <td><a class="iconDelete" (click)="removeCartItem(item)">Delete Item</a></td>
        </tr>
    </table>
    <div class="btn pull-right clearfix" routerLink="/products">Checkout</div>
    <div class="btn pull-right clearfix" routerLink="/products">Cancel</div>
</div>
<ng-template #emptyCart>
    <div ng-switch-when='false' class="emptyMiniCart">
        <img src="/assets/images/shoppingcart-empty.png"/>
        <p class="emptyMsg">Shopping Cart is Emply!</p>
        <p>Welcome back! If you had items in your shopping bag, we have saved them for you. You can SIGN IN now to see them, or whenever you're ready to check out.</p>
    </div>
</ng-template>


